version: 1.0.{build}

configuration: Release

os: Visual Studio 2017

environment:
  VERSION: 1.0.{build}

build_script:
- dotnet restore
- cd Quartz.RedisJobStore.Async.UnitTest
- dotnet test
- dotnet build -c Release
- cd ..\Quartz.RedisJobStore.Async
- dotnet pack -c Release /p:PackageVersion= {VERSION}
