version: 1.0.{build}

configuration: Release

os: Visual Studio 2017

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  NUGET_XMLDOC_MODE: skip

skip_tags: true

nuget:
  disable_publish_on_pr: true

clone_depth: 1

build_script:
- dotnet restore
- cd Quartz.RedisJobStore.Async.UnitTest
- dotnet test
- dotnet build -c Release
- cd Quartz.RedisJobStore.Async
- dotnet pack -c Release /p:PackageVersion=2.1.1
