quartz.jobStore.type=Quartz.RedisJobStore.Async.RedisJobStore, Quartz.RedisJobStore.Async
quartz.serializer.type=binary
quartz.jobStore.redisConfiguration=10.1.0.2, defaultdatabase=3,syncTimeout=5000
quartz.jobStore.keyPrefix=gmm_
quartz.jobStore.instanceId=AUTO
quartz.jobStore.instanceName=UnitTest
quartz.jobStore.ThreadPoolSize=30
quartz.jobStore.TriggerLockTimeout=1000
quartz.jobStore.RedisLockTimeout=1000
quartz.jobStore.KeyDelimiter=:
quartz.threadPool.threadCount=30
quartz.jobStore.MisfireThreshold=6000